@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

.about {
  width: 100%;
  background-color: #4CAF50;
  color: #fff;
  font-size: x-large;
  margin-top: -20px;
  overflow: hidden;
  padding: 20px; /* Added padding */

  .title {
    background-color: #fff;
    text-align: center;
    color: #4CAF50;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .about-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    overflow: hidden;
    width: 100%; /* Ensure full width */

    &:nth-child(odd) {
      background-color: rgb(238, 231, 221);
      overflow: hidden;
      color: black; /* Alternate background color for odd sections */
    }

    padding: 50px 30px; /* Added padding to .about-info */

    h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
    }

    button {
      background-color: #fff;
      color: #4CAF50;
      padding: 10px 15px;
      border: none;
      cursor: pointer;
      font-size: 14px;
      margin-top: 10px;
    }

    .about-img {
      padding: 10px 80px;
    }

    .about-img img {
      max-width: 100%; /* Ensure images don't exceed their container */
      padding: 10px; /* Add padding around the images */
      width: 80vw;
      height: auto;
      border-radius: 8px; /* Add border-radius for rounded corners */
      mix-blend-mode: color-burn; /* Blend image background with the overall background color */
    }
    
  }
}
