.FloatingButton{
    position: sticky;
    left: 90vw;
    bottom: 15px;
    background-color: green;
    border-radius: 15px;
    padding: 8px 15px;
    width: 70px;
    display: flex;
    align-items: center;
    z-index: 2;
}

.FloatingButton:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 3px lightgreen;
    background-color: white;
    border: 2px solid green;
    transition: all 500ms ease;
}

.text{
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

.FloatingButton img{
    width: 20px;
    height: 20px;
}

.FloatingButton:hover .text{
    color: #008000;
    text-decoration: none;
}

.FloatingButton:hover img{
    cursor: pointer;
    transform: rotate(90deg);
    transition: all 500ms ease;
}